*{
 	margin: 0px;
	padding: 0px;
	font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	font-weight: bold;
	
}
/*Header*/
.logos
{
	margin-top: 25px !important;
}
.titulos{
     font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}


.navbar #myCarousel{
	margin:0px !important;
	padding: 0px !important;
}

/*Menú*/
.navbar{

	border-radius: 0px;
	background: none !important; 
  	border: 1 !important;
  	margin: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
	padding: 0px !important;

}

ul.nav li.dropdown:hover > ul.dropdown-menu {
display: block;    
transition: all .3s ease .3s;
transition: all 2s ease .5s;
-webkit-transition: all 2s ease .5s;
-moz-transition: all 2s ease .5s;
-o-transition: all 2s ease .5s;
}

/*Slider*/
#myCarousel {
	margin: 0px !important;
	padding: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
}


/*Iconos*/
.flaticon{
	margin-top: 30px;
}
.glyphicon{
	margin-top:5px !important;
	margin-bottom: 40px !important;
}

/*Footer*/


footer{
 
 
    font-size: 11px;
    padding: 20px;
}

#footer1{
	margin-top: 30px !important;
}

.unstyled
{
    list-style: none;
    padding: 0px;
}

#fondo
{
    font-size: 11px;
 
}